@import url("https://fonts.googleapis.com/css2?family=Poppins:ital@0;1&family=Roboto:ital@0;1&display=swap");
* {
  margin: 0;
  padding: 0;
}

/* Vista Mobile 0-600 */
body {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 1px;
  word-spacing: 4px;
  color: white;
  background-color: #2d2c55;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  padding: 5px;
  background-color: #252440;
  justify-content: center;
  text-align: center;
}
header .logo {
  height: 200px;
}
header .navbar-light .navbar-toggler {
  color: white;
  border-color: white;
}
header ul li {
  list-style-type: none;
  padding: 10px;
}
header ul li a {
  text-decoration: none;
  font-size: 28px;
}

h1, h2 {
  color: #c6c6c6;
  font-size: 28px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: bold;
  line-height: 30px;
  letter-spacing: 1px;
  word-spacing: 4px;
}

.subtitulo {
  margin-top: 45px;
  margin-bottom: 20px;
}

h3, p {
  margin: 20px 10px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: bold;
  line-height: 30px;
  letter-spacing: 1px;
  word-spacing: 4px;
}

img {
  width: 280px;
  height: 300px;
  padding: 0px;
  margin-top: 15px;
  margin-bottom: 15px;
  border: none;
  border-radius: 10%;
}

.creador, .peli {
  height: 400px;
}

footer {
  padding: 5px;
  background-color: #252440;
  margin-top: 1.5em;
  margin-bottom: 0px;
  font-size: 15px;
  text-align: center;
}
footer .redes {
  height: 80px;
  width: auto;
}
footer .foot {
  color: white;
}

main {
  margin-top: 20px;
  text-align: center;
}

.jeff, .info, .row {
  margin: 50px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section {
  text-align: center;
  margin: 20px;
}

.oficial {
  margin: 15px;
}

.video {
  width: 250px;
}

.main {
  grid-area: main;
}

.section {
  grid-area: section;
}

.footer {
  grid-area: footer;
}

.grilla {
  background-color: #2d2c55;
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr;
  grid-template-areas: "main" "section" "footer";
}

/* Vista Tablet 600-1024 */
@media (min-width: 600px) {
  .grilla {
    display: grid;
  }
  .video {
    width: 500px;
  }
  .temp, .per, .ind {
    width: 350px;
    height: 300px;
  }
}
/* Vista Desktop 1024 */
@media (min-width: 1024px) {
  .grilla {
    display: grid;
    justify-items: center;
  }
  .jeff, .info, .row {
    display: flex;
    flex-direction: row;
  }
  .row {
    display: flex;
    flex-wrap: nowrap;
    width: 70%;
  }
  .video {
    width: 450px;
  }
  .trailers {
    margin: 10px 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .box:hover {
    transform: scale(1.15);
    transition-property: all;
    transition-duration: 3s;
  }
}
.blue {
  background-color: #252440;
}

.flex {
  justify-content: center;
}/*# sourceMappingURL=estilos.css.map */