footer {
    padding: 5px;
    background-color: #252440;
    margin-top: 1.5em;
    margin-bottom: 0px;
    font-size: 15px;
    text-align: center;

    .redes {
        height: 80px;
        width: auto;
    }

    .foot {
        color: white;
    }
}