h1, h2 {
    color: #c6c6c6;
    font-size: 28px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: bold;
    line-height: 30px;
    letter-spacing: 1px;
    word-spacing: 4px;
}

.subtitulo {
    margin-top: 5px;
    margin-bottom: 50px;
}

h3, p {
    margin: 20px 10px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: bold;
    line-height: 30px;
    letter-spacing: 1px;
    word-spacing: 4px;
}

